<div class="container">
  <mat-card>
    <p class="lottie-format">
      <ng-lottie [options]="options" width="500px" height="400px"></ng-lottie>
    </p>
    <mat-card-content>
      <p class="text-sub">Animações</p>
      <section fxflexfill fxlayoutgap="10px grid">
        <ng-container *ngFor="let effect of array">
          <button mat-raised-button color="primary" (click)="setEffectModal(effect.effect)">{{ effect.label }}</button>
        </ng-container>
      </section>
    </mat-card-content>
  </mat-card>
</div>
<app-modal-animation modalID="modal" [modalClass]="modalClass">
  <div class="container contentClass">
    <p>Teste</p>
    <button mat-stroked-button color="primary" (click)="closeModal()">close</button>
  </div>
</app-modal-animation>
