.container {
  text-align: center;
  padding: 1em;
}

.logo {
  width: 150px;
  margin: 0 auto;
}

q {
  font-style: italic;
  quotes: "« " " »";
}

.lottie-format {
  display: flex;
  justify-content: center;
}

button {
  margin: 5px;
  font-size: 16px;
}

.text-sub {
  font-size: 25px;
  font-weight: 600;
}
